.StoreView {
  height: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
}
.nav {
  border-right: solid 1px;
  padding: 0 24px;
}
.list {
  height: 100%;
  padding-left: 0;
}
.list li {
  display: grid;
  grid-template-columns: 1fr auto;
}
